//-dbName, tabName, qry0

html
head
	meta(charaset="utf-8")
body
	h1
		a(href="/#{dbName}/#{tabName}")= "Table: "+tabName
		
	form(action="/#{dbName}/#{tabName}/"+qry0.id+"/edit" method="post")
		div
			input(type='text', name='title', placeholder='title', value=qry0.title, autofocus)
		div
			textarea(name='description' placeholder='description')
				=qry0.description
		div
			input(type='submit' value='EDIT')
			input(type='reset')
			a(href="/#{dbName}/#{tabName}") cancel